opencv-python == 4.13.0.92
pydantic == 2.13.4
pyyaml == 6.0.3
numpy == 2.4.4
tqdm == 4.67.3
torch == 2.5.1+cu121
torchvision == 0.20.1+cu121
torchaudio == 2.5.1+cu121
ultralytics == 8.4.51
tensorboard == 2.20.0